server:
  error:
    include-message: always
    include-binding-errors: always
spring:
  application:
    name: agile
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
security:
  jwt:
    expiration-hours: 1
    secret.key: ${JWT_SECRET_KEY}
logging:
  level:
    # root: DEBUG
    org.springframework:
      security: TRACE
